# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
Backend/.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Local logs,/tmp
*.log

# OneDrive local copies
*.lnk

# pytest cache
.pytest_cache/

# virtualenv
.venv/
env/
venv/
